<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <script src="/js/socket.io.js"></script>
</head>

<body cz-shortcut-listen="true" ng-controller='AppCtrl'>
<i class="fa fa-spin fa-refresh fa-5x" id="loader" style="display: none;"></i>
<div class="container ng-scope">
    <i class="fa fa-spin fa-refresh fa-5x" id="loader" style="display: none;"></i>
    <div class="container ng-scope">
        <h2>Admin login</h2>

        <hr>
        <div class="row">
            <div class="col-lg-8">
                <div class="row" id="userList" style="display: block;">
                    <div ng-repeat="user in users" class="col-sm-12 ng-scope">
                        <div class="row" ng-if="user">
                            <div class="col-xs-2" ng-class="{'col-xs-push-10' : (user.username == curtrentUser)}">
                                <img ng-src=" {{user.image}} "
                                     class="img-thumbnail img-responsive img-circle pull-left " ng-class-even="pull-right
									" ng-class-odd="pull-left " style="width:70px; ">
                            </div>
                            <div class="col-xs-10" ng-class="{'col-xs-pull-2' : (user.username == curtrentUser)}">
                                <div class="panel panel-default ">
                                    <div class="panel-body ng-binding "><strong>{{user.username}}</strong> :
                                        {{user.message}} <br>
                                        <span class="label label-info ng-binding ">{{user.date | date: 'h:mma'}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center ">Got something to say?</h2>
                <div class="input-group ">
                    <input id="data " type="text " ng-model="message " class="form-control "
                           placeholder="Type your message here ">
                    <span class="input-group-btn ">
							<button class="btn btn-primary " id="datasend " type="button " ng-click="doPost(message) ">Send!</button>
						</span>
                </div>
                <div class="clearfix "></div>
            </div>
            <div class="col-lg-4 ">
                <h4>Join Room</h4>
                <div class="form-group ">
                    <label for="exampleInputEmail1 ">Your Name</label>
                    <input type="text " ng-model="join.username " class="form-control " id="join_room_email "
                           placeholder="Enter Name "/>
                </div>
                <div class="form-group ">
                    <label for="exampleInputEmail1 ">Room Code</label>
                    <input type="text " ng-model="join.room " class="form-control " id="join_room_code "
                           placeholder="Enter Room Code "/>
                </div>
                <button type="submit " id="join " ng-click="joinRoom(join) " class="btn btn-default ">Submit</button>
                <hr>
                <h4>Create Room</h4>
                <div class="form-group ">
                    <label for="exampleInputEmail1 ">Your Name</label>
                    <input type="text " ng-model="create.username " class="form-control " id="create_room_email "
                           placeholder="Enter Name "/>
                </div>
                <button type="submit " id="create " ng-click="createRoom(create) " class="btn btn-default ">Submit
                </button>
                <div class="clearfix "></div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <a th:href="@{/logout}">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </a>
    <a th:href="@{/admin/add}">
        <button class="btn btn-md btn-danger btn-block" type="Submit">Add</button>
    </a>

    <a th:href="@{/admin/remove}">
        <button class="btn btn-md btn-danger btn-block" type="Submit">Remove</button>
    </a>
    <a th:href="@{/admin/search}">
        <button class="btn btn-md btn-danger btn-block" type="Submit">Search</button>
    </a>


    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <!-- Danh sách user -->


            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            <!-- <p class="admin-message-text text-center" th:utext="${userList}"></p>
            <p class="admin-message-text text-center" th:utext="${userListO[0]}"></p>-->
            <table>
                <tbody>
                <tr th:each="user: ${userListO}">
                    <p th:utext="${user.id}"></p>
                    <p th:utext="${user.email}"></p>
                    <p th:utext="${user.name}"></p>
                    <p th:utext="${user.lastName}"></p>
                    <a th:href="@{'/admin/remove/'+${user.id}}">
                        <button class="btn btn-md btn-danger btn-block" type="Submit">Remove</button>
                    </a>
                    <a th:href="@{'/admin/modify/'+${user.id}}">
                        <button class="btn btn-md btn-danger btn-block" type="Submit">Modify</button>
                    </a>
                </tr>
                </tbody>
            </table>
            <!-- <tbody>
                <tr th:each="prod: ${userList}">
                    <td th:text="${prod.lastName}">Oranges__</td>

                </tr>
            </tbody> -->
        </div>
    </div>

</div>

<!--<script type="text/javascript " src="js/angular.min.js"></script>-->
<!--<script type="text/javascript " src="js/app.js"></script>-->
<script type="text/javascript" th:inline="javascript">
    //Check notification permission
    if (Notification.permission !== 'denied') {
        Notification.requestPermission(function (permission) {
            if (!('permission' in Notification)) {
                Notification.permission = permission;
            }
        })
    }
    const socket = io('http://localhost:3000');
    socket.emit('request token', {id: [[${user_id}]], idProject: 0});
    socket.on('token', msg => {
        let token = msg.token;
        socket.emit('getListNotSeen', {token: token});
        socket.on('notify', msg => {
            notifyMe(msg);
        });
        socket.on('notify not seen', function (msg) {
            if (msg.token === token && msg.count > 0) {
                let options = {
                    icon: 'icon',
                    body: "Bạn có " + msg.count + " thông báo chưa đọc."
                };
                let notification = new Notification("Thông báo", options);
                socket.emit('seen multi', {token: token});
                notification.onclick = () => {
                    window.open("/");
                };
                setTimeout(function () {
                    notification.close()
                }, 2000);
            }
        });

        function notifyMe(msg) {
            let options = {
                icon: msg.icon,
                body: msg.body
            };
            let notification = new Notification(msg.title, options);
            socket.emit('seen', {token: token, idNotification: msg.idNotification});
            notification.onclick = () => {
                window.open(msg.link);
            };
            setTimeout(function () {
                notification.close()
            }, 2000);
        }
    });
</script>
</body>

</html>
